[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pytest-django = "*"
faker = "*"
pre-commit = "==3.5.0"
exceptiongroup = "*"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
drf-writable-nested = "*"
psycopg2-binary = "*"
python-dotenv = "==1.0.1"
drf-spectacular-sidecar = "*"

[requires]
python_version = "3.10"